/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgba(248, 248, 248, 0.3);
}

/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background-image.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(0.4);
  z-index: -1;
} */

.main-container {
  z-index: 0; /* Cambiado de -1 a 0 para que esté detrás del contenido principal */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.jokes-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  padding: 4rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"%3E%3Cpath fill="%23F0F0F0" d="M48.9,-69.8C60.7,-58.7,65.8,-40.9,69.7,-23.8C73.6,-6.8,76.3,9.4,72.9,24.9C69.6,40.5,60.2,55.3,47.1,65.8C33.9,76.4,17,82.8,1.5,80.6C-13.9,78.5,-27.7,67.9,-39.8,56.9C-51.8,46,-62,34.7,-68.2,20.9C-74.5,7.1,-76.8,-9.3,-73.4,-25.1C-69.9,-40.8,-60.7,-55.9,-47.5,-66.6C-34.4,-77.3,-17.2,-83.7,0.7,-84.7C18.5,-85.6,37,-81,48.9,-69.8Z" transform="translate(100 100)" /%3E%3C/svg%3E');
  width: 600px;
  height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
h1 {
  font-size: 1.5rem;
}
.title img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotate(280deg);
}
.btn {
  background-color: #00d1dc;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #00abdf;
}
.jokes {
  text-align: center;
}
.weather-container {
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
  z-index: 3;
  display: flex;
}
.value-emoji {
  cursor: pointer;
}
.randomJoke {
  text-align: center;
}
.bg-poor {
  background-image: url(../img/emoji-01.png);
  background-position: center center;
  background-size: contain;
  border: none;
  padding: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.bg-poor:hover {
  transform: translate(0px, -10px);
}
.bg-medium {
  background-image: url(../img/emoji-02.png);
  background-position: center center;
  background-size: contain;
  border: none;
  padding: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.bg-medium:hover {
  transform: translate(0px, -10px);
}
.bg-top {
  background-image: url(../img/emoji-03.png);
  background-position: center center;
  background-size: contain;
  border: none;
  padding: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.bg-top:hover {
  transform: translate(0px, -10px);
}

.randomJoke-container {
  text-align: center;
}
